.ivu-input {
    border-radius: 0;
}
.ivu-modal-mask{
    background-color: rgba(0, 0, 0, .15);
}
.ivu-modal-body{
    padding: 20px;
    padding-top: 10px;
}
.ivu-modal-content{
    border-radius: 0;
}
.ivu-modal-header {
    padding: 19px 16px;
    border-bottom: none;
}
.ivu-modal-close .ivu-icon-ios-close{
    font-size: 36px;
    font-weight: bold;
}
.ivu-page-item-active a, 
.ivu-page-item-active:hover a,
.ivu-select-item-selected,
.ivu-select-item-selected:hover{
  color:#ff6a00 !important;
}
.ivu-input-with-search:hover .ivu-input,
.ivu-input:focus, .ivu-input:hover,
.ivu-select-selection:hover,
.ivu-page-options-elevator input:hover,
.ivu-select-selection-focused,
.ivu-select-selection:hover{
  border-color:#ff6a00;
}
.ivu-select-visible .ivu-select-selection,
.ivu-page-options-elevator input:focus{
  border-color: #ff6a00;
  box-shadow: 0 0 0 2px rgba(255,108,0,.2);
}
.ivu-checkbox-checked .ivu-checkbox-inner{
    border-color: #ff6a00;
    background-color: #ff6a00;
}
.ivu-checkbox-checked:hover .ivu-checkbox-inner {
    border-color: #ff6a00
}
.vertical-center-modal{
    display: flex;
    align-items: center;
    justify-content: center;   
}
.ivu-modal{
    top: 0;
    color: #262626;
}
.ivu-modal-footer{
    border-top: none;
}
.ivu-select-selection,.ivu-select-dropdown{
    border-radius: 0px;
}
.ivu-switch-checked{
    border-color: #ff6a00 !important;
    background-color: #ff6a00 !important;
}
.ivu-radio-focus {
    box-shadow: 0 0 0 2px rgba(255,108,0,.2);
    z-index: 1
}
.ivu-radio-inner:after{
    background-color: #ff6a00;
}
.ivu-radio-checked .ivu-radio-inner {
    border-color: #ff6a00
}
.ivu-btn:active,.ivu-btn:hover,.ivu-btn:focus{
    box-shadow: 0 0 0 2px rgba(255, 106, 0,.2);
}
.ivu-steps-icon{
    color: #ff6a00 !important;
}
.ivu-steps-item.ivu-steps-status-finish .ivu-steps-head-inner{
    border-color: #ff6a00;
}
.ivu-steps-item.ivu-steps-status-finish .ivu-steps-tail>i:after{
    background-color: #ff6a00;
}
.ivu-steps-item.ivu-steps-status-process .ivu-steps-head-inner{
    border-color: #ff6a00;
    background-color: #ff6a00;
}
.ivu-table th{
    background-color: rgba(255,243,235,.5);
}
.ivu-date-picker-focused input{
    border-color: #ff6a00;
    box-shadow: 0 0 0 2px rgba(255, 106, 0,.2);
}
.ivu-date-picker-cells-focused em{
    box-shadow: 0 0 0 1px #ff6a00 inset;
}
.ivu-date-picker-cells-cell-today em:after{
    background-color: #ff6a00;
}
.ivu-input-number:focus ,.ivu-input-number-focused{
    border-color: #ff6a00;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(255, 106, 0,.2);
}
.ivu-input-number:hover,.ivu-input:focus,
.ivu-input:hover {
    border-color: #ff6a00;
}
.ivu-input:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgba(255, 106, 0,.2);
}
.ivu-checkbox-indeterminate .ivu-checkbox-inner{
    border-color: #ff6a00;
    background-color: #ff6a00;
}
.ivu-tooltip-inner{
    max-width: 600px;
}
.login-main .ivu-input-number:focus ,.login-main .ivu-input-number-focused{
    border-color: #eaeaea;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(255, 106, 0,0);
}
.login-main .ivu-input-number:hover,.login-main .ivu-input:focus,
.ivu-input:hover {
    border-color: #eaeaea;
}
.login-main .ivu-input:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgba(255, 106, 0,0);
}
.login-main .ivu-form-item-error .ivu-input:hover,.login-main .ivu-form-item-error .ivu-input:focus {
    border-color: #f30;
}
.login-main .ivu-input{
    transition: border 0s ease-in-out,background 0s ease-in-out,box-shadow 0s ease-in-out;
}